<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.104.2" targetFramework="net472" />
  <package id="ClosedXML.Parser" version="1.2.0" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml" version="3.2.0" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.2.0" targetFramework="net472" />
  <package id="DocX" version="3.0.1" targetFramework="net472" />
  <package id="EPPlus" version="7.5.1" targetFramework="net472" />
  <package id="EPPlus.Interfaces" version="7.5.0" targetFramework="net472" />
  <package id="EPPlus.System.Drawing" version="7.5.0" targetFramework="net472" />
  <package id="ExcelNumberFormat" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net472" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="3.0.1" targetFramework="net472" />
  <package id="Microsoft-WindowsAPICodePack-Core" version="1.1.5" targetFramework="net472" />
  <package id="Microsoft-WindowsAPICodePack-Shell" version="1.1.5" targetFramework="net472" />
  <package id="RBush" version="4.0.0" targetFramework="net472" />
  <package id="SixLabors.Fonts" version="1.0.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="8.0.4" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net472" />
  <package id="Xceed.Document.NET" version="3.0.24152.1219" targetFramework="net472" />
  <package id="Xceed.Pdf" version="3.0.24152.1219" targetFramework="net472" />
  <package id="Xceed.Words.NET" version="3.0.24152.1219" targetFramework="net472" />
</packages>